ai_workflow/n8n/workflows/02_ai_processing_workflow.json
{
  "name": "02 - AI Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-call",
        "options": {}
      },
      "id": "webhook-process",
      "name": "Process Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "process-call-trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "bucketName": "={{ $json.bucket }}",
        "fileKey": "={{ $json.audio_key }}"
      },
      "id": "download-audio-s3",
      "name": "Download Audio from S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "aws": {
          "id": "aws-credentials",
          "name": "AWS Credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "https://testashok1.openai.azure.com/openai/deployments/call-Centre-audio-whisper-1-ashok/audio/transcriptions?api-version=2024-02-01",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "timestamp_granularities[]",
              "value": "segment"
            }
          ]
        },
        "options": {}
      },
      "id": "azure-whisper",
      "name": "Azure Whisper Transcription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "azure-openai-auth",
          "name": "Azure OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Process Whisper response and prepare for analysis\nconst whisperResponse = $input.first().json;\nconst inputData = $('Process Trigger').first().json;\n\n// Structure the transcript with segments\nconst transcript = {\n  call_id: inputData.call_id,\n  full_text: whisperResponse.text,\n  language: whisperResponse.language,\n  duration: whisperResponse.duration,\n  segments: (whisperResponse.segments || []).map(seg => ({\n    id: seg.id,\n    start: seg.start,\n    end: seg.end,\n    text: seg.text.trim(),\n    confidence: seg.confidence || null\n  })),\n  word_count: whisperResponse.text.split(/\\s+/).length,\n  transcribed_at: new Date().toISOString()\n};\n\nreturn { json: transcript };"
      },
      "id": "process-transcript",
      "name": "Process Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "https://testashok1.openai.azure.com/openai/deployments/Test-Ashok-1-gpt-4o/chat/completions?api-version=2024-02-01",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert call center analyst. Analyze the following call transcript and extract structured information. Be precise and factual.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this call transcript and provide:\\n\\n1. **Call Summary** (2-3 sentences)\\n2. **Customer Intent** (what the customer wanted)\\n3. **Resolution Status** (resolved/unresolved/escalated)\\n4. **Key Topics** (list of main topics discussed)\\n5. **Customer Sentiment** (positive/neutral/negative with confidence 0-100)\\n6. **Action Items** (any follow-ups needed)\\n7. **Entities Mentioned** (products, services, account numbers, etc.)\\n\\nTranscript:\\n{{ $json.full_text }}\\n\\nRespond in JSON format with these exact keys: summary, customer_intent, resolution_status, topics, sentiment, action_items, entities\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 2000,\n  \"response_format\": { \"type\": \"json_object\" }\n}"
      },
      "id": "gpt4-analysis",
      "name": "GPT-4 Call Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "azure-openai-auth",
          "name": "Azure OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Parse GPT-4 analysis response\nconst gptResponse = $input.first().json;\nconst transcript = $('Process Transcript').first().json;\nconst inputData = $('Process Trigger').first().json;\n\nlet analysis;\ntry {\n  const content = gptResponse.choices[0].message.content;\n  analysis = JSON.parse(content);\n} catch (e) {\n  analysis = {\n    summary: 'Analysis parsing failed',\n    customer_intent: 'Unknown',\n    resolution_status: 'unknown',\n    topics: [],\n    sentiment: { label: 'neutral', confidence: 0 },\n    action_items: [],\n    entities: []\n  };\n}\n\n// Combine all data\nconst processedCall = {\n  call_id: transcript.call_id,\n  \n  // Transcript data\n  transcript: {\n    full_text: transcript.full_text,\n    segments: transcript.segments,\n    word_count: transcript.word_count,\n    duration: transcript.duration,\n    language: transcript.language\n  },\n  \n  // Analysis data\n  analysis: {\n    summary: analysis.summary,\n    customer_intent: analysis.customer_intent,\n    resolution_status: analysis.resolution_status,\n    topics: Array.isArray(analysis.topics) ? analysis.topics : [],\n    sentiment: analysis.sentiment,\n    action_items: Array.isArray(analysis.action_items) ? analysis.action_items : [],\n    entities: Array.isArray(analysis.entities) ? analysis.entities : []\n  },\n  \n  // Original metadata\n  metadata: inputData.metadata || {},\n  \n  // Processing info\n  processing: {\n    transcribed_at: transcript.transcribed_at,\n    analyzed_at: new Date().toISOString(),\n    model_used: 'gpt-4-turbo',\n    whisper_model: 'whisper-1',\n    workflow_version: '1.0.0'\n  }\n};\n\nreturn { json: processedCall };"
      },
      "id": "combine-results",
      "name": "Combine Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "https://testashok1.openai.azure.com/openai/deployments/Call-Centre-text-embedding-ada-002-ashok-1/embeddings?api-version=2024-02-01",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": \"{{ $json.transcript.full_text.substring(0, 8000) }}\",\n  \"model\": \"text-embedding-ada-002\"\n}"
      },
      "id": "generate-embedding",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "azure-openai-auth",
          "name": "Azure OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Add embedding to processed call data\nconst processedCall = $('Combine Results').first().json;\nconst embeddingResponse = $input.first().json;\n\nprocessedCall.embedding = {\n  vector: embeddingResponse.data[0].embedding,\n  model: 'text-embedding-ada-002',\n  dimensions: embeddingResponse.data[0].embedding.length,\n  generated_at: new Date().toISOString()\n};\n\nreturn { json: processedCall };"
      },
      "id": "add-embedding",
      "name": "Add Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "bucketName": "callcenter-processed-transcripts-prod-1-ashok",
        "fileName": "=processed/{{ $json.call_id }}/full_analysis.json",
        "binaryData": false,
        "fileContent": "={{ JSON.stringify($json, null, 2) }}"
      },
      "id": "save-processed-s3",
      "name": "Save to S3 Processed",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [1850, 300],
      "credentials": {
        "aws": {
          "id": "aws-credentials",
          "name": "AWS Credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "https://aiamfspr.app.n8n.cloud/webhook/crm-sync",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"call_id\": \"{{ $json.call_id }}\",\n  \"s3_path\": \"s3://callcenter-processed-transcripts-prod-1-ashok/processed/{{ $json.call_id }}/full_analysis.json\",\n  \"summary\": {{ JSON.stringify($json.analysis.summary) }},\n  \"sentiment\": {{ JSON.stringify($json.analysis.sentiment) }},\n  \"action_items\": {{ JSON.stringify($json.analysis.action_items) }},\n  \"metadata\": {{ JSON.stringify($json.metadata) }}\n}"
      },
      "id": "trigger-crm-sync",
      "name": "Trigger CRM Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2050, 300]
    }
  ],
  "connections": {
    "Process Trigger": {
      "main": [
        [
          {
            "node": "Download Audio from S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio from S3": {
      "main": [
        [
          {
            "node": "Azure Whisper Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure Whisper Transcription": {
      "main": [
        [
          {
            "node": "Process Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Transcript": {
      "main": [
        [
          {
            "node": "GPT-4 Call Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4 Call Analysis": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Results": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Add Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Embedding": {
      "main": [
        [
          {
            "node": "Save to S3 Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to S3 Processed": {
      "main": [
        [
          {
            "node": "Trigger CRM Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "call-center",
      "id": "tag-call-center"
    },
    {
      "name": "ai-processing",
      "id": "tag-ai-processing"
    }
  ]
}
