ai_workflow/n8n/workflows/04_avoma_sync_workflow.json
{
  "name": "04 - Avoma Sync Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "avoma-sync",
        "options": {}
      },
      "id": "webhook-avoma-sync",
      "name": "Avoma Sync Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "avoma-sync-trigger"
    },
    {
      "parameters": {
        "functionCode": "// Format call data for Avoma API\nconst inputData = $input.first().json;\n\n// Avoma expects a specific format for meeting notes\nconst avomaPayload = {\n  // Meeting/Call identification\n  external_id: inputData.call_id,\n  title: `Call with ${inputData.metadata?.caller_name || 'Customer'}`,\n  \n  // Timing\n  start_time: inputData.metadata?.started_at,\n  end_time: inputData.metadata?.ended_at,\n  duration_minutes: Math.ceil((inputData.metadata?.duration_seconds || 0) / 60),\n  \n  // Participants\n  participants: [\n    {\n      name: inputData.metadata?.caller_name || 'Customer',\n      email: null,\n      role: 'external',\n      is_organizer: false\n    },\n    {\n      name: inputData.metadata?.agent_name || 'Agent',\n      email: inputData.metadata?.agent_email || null,\n      role: 'internal',\n      is_organizer: true\n    }\n  ],\n  \n  // AI-generated content\n  summary: inputData.analysis?.summary || '',\n  \n  // Key points from analysis\n  key_points: [\n    {\n      type: 'customer_intent',\n      content: inputData.analysis?.customer_intent || 'Not identified'\n    },\n    {\n      type: 'resolution',\n      content: `Status: ${inputData.analysis?.resolution_status || 'Unknown'}`\n    },\n    {\n      type: 'sentiment',\n      content: `Customer sentiment: ${inputData.analysis?.sentiment?.label || 'neutral'} (${inputData.analysis?.sentiment?.confidence || 0}% confidence)`\n    }\n  ],\n  \n  // Topics as tags\n  tags: inputData.analysis?.topics || [],\n  \n  // Action items\n  action_items: (inputData.analysis?.action_items || []).map((item, idx) => ({\n    id: `action_${idx + 1}`,\n    description: item,\n    assignee: inputData.metadata?.agent_name || null,\n    due_date: null,\n    status: 'pending'\n  })),\n  \n  // Full transcript\n  transcript: {\n    segments: (inputData.transcript?.segments || []).map(seg => ({\n      speaker: seg.speaker || 'Unknown',\n      start_time: seg.start,\n      end_time: seg.end,\n      text: seg.text\n    }))\n  },\n  \n  // Metadata\n  source: 'call_center_ai',\n  source_type: 'phone_call',\n  call_direction: inputData.metadata?.direction || 'inbound',\n  \n  // Custom fields for call center context\n  custom_fields: {\n    caller_number: inputData.metadata?.caller_number,\n    hubspot_contact_id: inputData.integrations?.hubspot_contact_id,\n    entities_mentioned: inputData.analysis?.entities || []\n  }\n};\n\nreturn { json: avomaPayload };"
      },
      "id": "format-avoma-payload",
      "name": "Format Avoma Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://api.avoma.com/v1/meetings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "create-avoma-meeting",
      "name": "Create Avoma Meeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avoma-api-key",
          "name": "Avoma API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.statusCode || 200 }}",
              "rightValue": 300,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-avoma-success",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "=https://api.avoma.com/v1/meetings/{{ $('Create Avoma Meeting').item.json.id }}/notes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notes\": [\n    {\n      \"type\": \"summary\",\n      \"title\": \"AI Summary\",\n      \"content\": {{ JSON.stringify($('Avoma Sync Trigger').item.json.analysis.summary) }}\n    },\n    {\n      \"type\": \"key_topics\",\n      \"title\": \"Topics Discussed\",\n      \"content\": {{ JSON.stringify($('Avoma Sync Trigger').item.json.analysis.topics.join(', ')) }}\n    },\n    {\n      \"type\": \"entities\",\n      \"title\": \"Entities Mentioned\",\n      \"content\": {{ JSON.stringify($('Avoma Sync Trigger').item.json.analysis.entities.join(', ')) }}\n    }\n  ]\n}"
      },
      "id": "add-avoma-notes",
      "name": "Add AI Notes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "avoma-api-key",
          "name": "Avoma API Key"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Return success response\nconst avomaResponse = $('Create Avoma Meeting').first().json;\nconst inputData = $('Avoma Sync Trigger').first().json;\n\nreturn {\n  json: {\n    status: 'success',\n    call_id: inputData.call_id,\n    avoma_meeting_id: avomaResponse.id,\n    avoma_url: avomaResponse.url || null,\n    synced_at: new Date().toISOString()\n  }\n};"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "functionCode": "// Handle Avoma API error\nconst error = $input.first().json;\nconst inputData = $('Avoma Sync Trigger').first().json;\n\nreturn {\n  json: {\n    status: 'error',\n    call_id: inputData.call_id,\n    error_message: error.message || 'Avoma sync failed',\n    error_code: error.statusCode || 500,\n    retry_eligible: true,\n    failed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Avoma Sync Trigger": {
      "main": [
        [
          {
            "node": "Format Avoma Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Avoma Payload": {
      "main": [
        [
          {
            "node": "Create Avoma Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Avoma Meeting": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Add AI Notes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add AI Notes": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
