ai_workflow/n8n/workflows/06 - Error Handler Workflow.json
{
  "name": "06 - Error Handler Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "error-handler",
        "options": {}
      },
      "id": "24a12b1a-5a9c-4a73-8f36-e4be1fbcb598",
      "name": "Error Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        448,
        480
      ],
      "webhookId": "error-handler-webhook"
    },
    {
      "parameters": {},
      "id": "4c6b0271-85ea-4f4d-afcb-737e2aa6d0f7",
      "name": "Enrich Error Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.retry_eligible && $json.retry_count < $json.max_retries }}",
              "value2": true
            }
          ]
        }
      },
      "id": "be8dbdd6-9349-4cd6-98cd-c38b35eae353",
      "name": "Should Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        848,
        480
      ]
    },
    {
      "parameters": {},
      "id": "2305efd4-8c80-485b-90a3-086d67e4d709",
      "name": "Prepare Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        384
      ]
    },
    {
      "parameters": {
        "url": "=https://aiamfspr.app.n8n.cloud/webhook/{{ $json.source_workflow === '02 - AI Processing Workflow' ? 'process-call' : $json.source_workflow === '03 - CRM Sync Workflow' ? 'crm-sync' : $json.source_workflow === '04 - Avoma Sync Workflow' ? 'avoma-sync' : 'vector-sync' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.retry_payload) }}",
        "options": {}
      },
      "id": "b5a3578a-49a1-465b-b8b8-39ea133f83c4",
      "name": "Retry Original Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1248,
        384
      ]
    },
    {
      "parameters": {
        "operation": "putObject"
      },
      "id": "44ee2aa7-96f1-44a7-b7f4-30c02a7a0fe7",
      "name": "Save to DLQ (S3)",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        1040,
        592
      ],
      "credentials": {
        "aws": {
          "id": "vnCDisuFwOmMBxTz",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1414560298",
        "text": "=🚨 *Error Alert*\n\n*Error ID:* {{ $('Enrich Error Data').item.json.error_id }}\n*Severity:* {{ $('Enrich Error Data').item.json.severity.toUpperCase() }}\n*Workflow:* {{ $('Enrich Error Data').item.json.source_workflow }}\n*Node:* {{ $('Enrich Error Data').item.json.source_node }}\n*Call ID:* {{ $('Enrich Error Data').item.json.call_id || 'N/A' }}\n\n*Error:* {{ $('Enrich Error Data').item.json.error_message }}\n\n*Status:* Moved to Dead Letter Queue\n*Retries Exhausted:* {{ $('Enrich Error Data').item.json.retry_count }}/{{ $('Enrich Error Data').item.json.max_retries }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "14c95271-c662-48f5-a238-a221028dd3ed",
      "name": "Alert Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1248,
        592
      ],
      "webhookId": "17bbff05-207c-45a4-aec7-a4aed5a3b450",
      "credentials": {
        "telegramApi": {
          "id": "vZzbzI1YiyjFFiwz",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Enrich Error Data').item.json.severity }}",
              "operation": "equals",
              "value2": "critical"
            }
          ]
        }
      },
      "id": "06bda124-0c76-4a6b-8dcf-3fcb40692660",
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1440,
        592
      ]
    },
    {
      "parameters": {
        "chatId": "1414560298",
        "text": "=🔥 *CRITICAL ERROR - IMMEDIATE ATTENTION REQUIRED* 🔥\n\n*Error ID:* {{ $('Enrich Error Data').item.json.error_id }}\n*Workflow:* {{ $('Enrich Error Data').item.json.source_workflow }}\n*Call ID:* {{ $('Enrich Error Data').item.json.call_id || 'N/A' }}\n\n*Error:* {{ $('Enrich Error Data').item.json.error_message }}\n\nPlease investigate immediately.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "02f5773a-af85-4835-a711-458dad73d12f",
      "name": "Page On-Call",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1648,
        480
      ],
      "webhookId": "420960ad-56d8-401c-a523-81a48f2de5a0",
      "credentials": {
        "telegramApi": {
          "id": "vZzbzI1YiyjFFiwz",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Error Webhook": {
      "main": [
        [
          {
            "node": "Enrich Error Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Error Data": {
      "main": [
        [
          {
            "node": "Should Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Retry?": {
      "main": [
        [
          {
            "node": "Prepare Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save to DLQ (S3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Retry": {
      "main": [
        [
          {
            "node": "Retry Original Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to DLQ (S3)": {
      "main": [
        [
          {
            "node": "Alert Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Telegram": {
      "main": [
        [
          {
            "node": "Is Critical?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical?": {
      "main": [
        [
          {
            "node": "Page On-Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "df82f6d3-5c0c-47e7-a212-27b30128c17a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "173b8a4569ad20652b77d367a41b875becb1783402651413873b07ab973a7fb1"
  },
  "id": "meXAMnmcpGE2wTy7",
  "tags": []
}