ai_workflow/n8n/workflows/06 - Error Handler Workflow.json
{
  "name": "06 - Error Handler Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "error-handler",
        "options": {}
      },
      "id": "24a12b1a-5a9c-4a73-8f36-e4be1fbcb598",
      "name": "Error Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        448,
        380
      ],
      "webhookId": "error-handler-webhook"
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        448,
        580
      ]
    },
    {
      "parameters": {
        "jsCode": "const errorData = $input.first().json;\n\nconst execution = errorData.execution || {};\nconst workflow = errorData.workflow || {};\nconst lastNode = execution.lastNodeExecuted || 'Unknown';\n\nlet errorMessage = 'Unknown error';\ntry {\n  const runData = execution.error?.message || '';\n  if (runData) {\n    errorMessage = runData;\n  } else if (execution.error) {\n    errorMessage = JSON.stringify(execution.error).substring(0, 500);\n  }\n} catch (e) {\n  errorMessage = 'Error parsing failed';\n}\n\nreturn [{\n  json: {\n    source_workflow: workflow.name || 'Unknown',\n    source_node: lastNode,\n    error_message: errorMessage,\n    error_type: 'workflow_error',\n    call_id: null,\n    severity: null,\n    retry_eligible: true,\n    retry_count: 0,\n    original_payload: {}\n  }\n}];"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Normalize Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        580
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.body || $input.first().json;\n\nconst errorId = `ERR-${Date.now()}-${Math.random().toString(36).substr(2, 6)}`;\n\nconst severityMap = {\n  '02 - AI Processing Workflow': 'high',\n  '03 - CRM Sync Workflow': 'medium',\n  '05 - Pinecone Vector Sync Workflow': 'low'\n};\n\nreturn [{\n  json: {\n    error_id: errorId,\n    timestamp: new Date().toISOString(),\n    source_workflow: data.source_workflow || 'Unknown',\n    source_node: data.source_node || 'Unknown',\n    error_message: data.error_message || 'No error message provided',\n    error_type: data.error_type || 'unknown',\n    call_id: data.call_id || null,\n    severity: data.severity || severityMap[data.source_workflow] || 'medium',\n    retry_eligible: data.retry_eligible !== false,\n    retry_count: data.retry_count || 0,\n    max_retries: 3,\n    original_payload: data.original_payload || {}\n  }\n}];"
      },
      "id": "4c6b0271-85ea-4f4d-afcb-737e2aa6d0f7",
      "name": "Enrich Error Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-retry-1",
              "leftValue": "={{ $json.retry_eligible }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "should-retry-2",
              "leftValue": "={{ $json.retry_count }}",
              "rightValue": "={{ $json.max_retries }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "be8dbdd6-9349-4cd6-98cd-c38b35eae353",
      "name": "Should Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1056,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst webhookMap = {\n  '02 - AI Processing Workflow': 'process-call',\n  '03 - CRM Sync Workflow': 'crm-sync',\n  '05 - Pinecone Vector Sync Workflow': 'vector-sync'\n};\n\nconst webhook = webhookMap[item.source_workflow] || 'process-call';\n\nreturn [{\n  json: {\n    retry_url: `https://aiamfspr.app.n8n.cloud/webhook/${webhook}`,\n    retry_payload: item.original_payload,\n    retry_count: item.retry_count + 1,\n    error_id: item.error_id,\n    source_workflow: item.source_workflow\n  }\n}];"
      },
      "id": "2305efd4-8c80-485b-90a3-086d67e4d709",
      "name": "Prepare Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.retry_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.retry_payload) }}",
        "options": {}
      },
      "id": "b5a3578a-49a1-465b-b8b8-39ea133f83c4",
      "name": "Retry Original Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1456,
        384
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "callcenter-processed-transcripts-prod-1-ashok",
        "fileName": "=errors/dlq/{{ $json.error_id }}.json",
        "binaryData": false,
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "additionalFields": {}
      },
      "id": "44ee2aa7-96f1-44a7-b7f4-30c02a7a0fe7",
      "name": "Save to DLQ (S3)",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        1248,
        592
      ],
      "credentials": {
        "aws": {
          "id": "vnCDisuFwOmMBxTz",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1414560298",
        "text": "=🚨 *Error Alert*\n\n*Error ID:* {{ $('Enrich Error Data').item.json.error_id }}\n*Severity:* {{ $('Enrich Error Data').item.json.severity.toUpperCase() }}\n*Workflow:* {{ $('Enrich Error Data').item.json.source_workflow }}\n*Node:* {{ $('Enrich Error Data').item.json.source_node }}\n*Call ID:* {{ $('Enrich Error Data').item.json.call_id || 'N/A' }}\n\n*Error:* {{ $('Enrich Error Data').item.json.error_message }}\n\n*Status:* Moved to Dead Letter Queue\n*Retries Exhausted:* {{ $('Enrich Error Data').item.json.retry_count }}/{{ $('Enrich Error Data').item.json.max_retries }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "14c95271-c662-48f5-a238-a221028dd3ed",
      "name": "Alert Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1456,
        592
      ],
      "webhookId": "17bbff05-207c-45a4-aec7-a4aed5a3b450",
      "credentials": {
        "telegramApi": {
          "id": "vZzbzI1YiyjFFiwz",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-critical-1",
              "leftValue": "={{ $('Enrich Error Data').item.json.severity }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "06bda124-0c76-4a6b-8dcf-3fcb40692660",
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1648,
        592
      ]
    },
    {
      "parameters": {
        "chatId": "1414560298",
        "text": "=🔥 *CRITICAL ERROR - IMMEDIATE ATTENTION REQUIRED* 🔥\n\n*Error ID:* {{ $('Enrich Error Data').item.json.error_id }}\n*Workflow:* {{ $('Enrich Error Data').item.json.source_workflow }}\n*Call ID:* {{ $('Enrich Error Data').item.json.call_id || 'N/A' }}\n\n*Error:* {{ $('Enrich Error Data').item.json.error_message }}\n\nPlease investigate immediately.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "02f5773a-af85-4835-a711-458dad73d12f",
      "name": "Page On-Call",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1856,
        480
      ],
      "webhookId": "420960ad-56d8-401c-a523-81a48f2de5a0",
      "credentials": {
        "telegramApi": {
          "id": "vZzbzI1YiyjFFiwz",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Error Webhook": {
      "main": [
        [
          {
            "node": "Enrich Error Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Normalize Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Error": {
      "main": [
        [
          {
            "node": "Enrich Error Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Error Data": {
      "main": [
        [
          {
            "node": "Should Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Retry?": {
      "main": [
        [
          {
            "node": "Prepare Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save to DLQ (S3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Retry": {
      "main": [
        [
          {
            "node": "Retry Original Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to DLQ (S3)": {
      "main": [
        [
          {
            "node": "Alert Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Telegram": {
      "main": [
        [
          {
            "node": "Is Critical?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical?": {
      "main": [
        [
          {
            "node": "Page On-Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "df82f6d3-5c0c-47e7-a212-27b30128c17a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "173b8a4569ad20652b77d367a41b875becb1783402651413873b07ab973a7fb1"
  },
  "id": "meXAMnmcpGE2wTy7",
  "tags": []
}
